<div class="footer-wrapper">
  <div class="footer-container">
    <div>
      <p class="footer-copyright">
        <i class="material-icons">copyright</i> Copyright 2019. All right
        reserved.
      </p>
    </div>
    <div>
      <a routerLink="/elite-members" class="footer-link">Elite Members Only</a>
      <a routerLik="/suppliers" class="footer-link">Suppliers</a>
      <a routerLink="/about-us" class="footer-link">About Us</a>
      <a routerLink="/contact" class="footer-link">Contact</a>
    </div>
  </div>
</div>
