<div class="category">
  <h1 class="category-title">{{ category.title }}</h1>
  <div style="color: white;">
    <p [@showHide]="active ? 'show' : 'hide'" class="category-subtext">Donec id elit non mi porta gravida at eget metus 
        fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo.</p>
    </div>
    <button [@enableViewCategory]="active ? 'enabled' : 'disabled'" mat-stroked-button class="category-button" 
    (click)="triggerCategory()"
    >{{ active ? 'View Category' : 'View' }}</button>
</div>