@import "../../assets/style/colors.scss";

.special-request {
  &-wrapper {
    height: 300px;
    width: 100vw;
    background-image: url("../../assets/extra/marble_texture.jpg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 64px;
    max-width: 1080px;
  }

  &-header {
    color: #222222;
    font-size: 32px;
    letter-spacing: 1.82px;
    font-weight: 300;
  }

  &-subtext {
    color: #666666;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 300;
  }

  &-button {
    color: #222222;
    height: 50px;
    padding: 0 44px;
    margin-top: 32px;

    background-color: $brand-accent;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.21px;
    border-radius: 25px;
  }
}
