<div class="about-us-wrapper">
  <div class="about-us-container">
    <span class="about-us-photo"></span>
    <div class="about-us-introduction">
      <img
        src="../../assets/delifly-logo.svg"
        alt="Delifly Logo"
        class="about-us-introduction__logo"
      />
      <h1 class="about-us-section__header">
        <span class="about-us-section__header--highlighted">
          About Us
        </span>
        And How Does It Work?
      </h1>
      <p class="about-us-introduction__subtext">
        Sed posuere consectetur est at lobortis. Praesent commodo cursus magna
        vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.
      </p>
      <button
        mat-flat-button
        class="about-us-introduction__button"
        type="button"
        (click)="openVideo()"
      >
        Watch Our Video
      </button>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        Our <span class="about-us-section__header--highlighted">Offers</span>
      </h1>
      <div class="about-us-section__subtext">
        <p>
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur
          est at lobortis. Cras justo odio, dapibus ac facilisis in consecemassa
          justo sit amet risus. Sed posuere consectetur est at lobortis. Cras
          justo odio dapibus ac facilisis in, egestas eget quam. Praesent
          commodo cursus magna scelus risque nisl consectetur et.
        </p>
      </div>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        On <span class="about-us-section__header--highlighted">Demand</span>
      </h1>
      <div class="about-us-section__subtext">
        <p>
          Sed posuere consectetur est at lobortis. Curabitur blandit tempus
          porttitor. Maecenas faucibus mollis iInteger posuere erat a ante
          venenatis dapibus interdum. Praesent commodo est cursus magna, vel
          scelerisque nisl consectetur et justo odio dapibus cursus donec id
          elit non mi porta gravida at eget metus. quis risus eget urna mollis
          ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque
          donec id elit non mi porta gravida at eget metus quis risus eget urna
          mollis ornare vel eu leo urna nisl consectetur et. Maecenas leo
          faucibus mollis interdum vestibulum porta.
        </p>
      </div>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        <span class="about-us-section__header--highlighted">Misson</span> &
        Vision
      </h1>
      <div class="about-us-section__subtext">
        <p>
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur
          est at lobortis. Cras justo odio, dapibus ac facilisis in consecemassa
          justo sit amet risus. Sed posuere consectetur est at lobortis. Cras
          justo odio dapibus ac facilisis in, egestas eget quam. Praesent
          commodo cursus magna scelus risque nisl consectetur et.
        </p>
      </div>
    </div>
    <app-special-request class="footer"></app-special-request>
  </div>
</div>
