<div class="about-us-wrapper">
  <div class="about-us-container">
    <span class="about-us-photo"></span>
    <div class="about-us-introduction">
      <img
        src="../../assets/delifly-logo.svg"
        alt="Delifly Logo"
        class="about-us-introduction__logo"
      />
      <h1 class="about-us-section__header">
        <span class="about-us-section__header--highlighted">
          About Us
        </span>
        And How Does It Work?
      </h1>
      <p class="about-us-introduction__subtext">
        We are Delifly, devoted to enrich the private jet industry with the
        inflight products that its clients deserve. With us, the sky is not the
        limit, it's an opportunity.
      </p>
      <button
        mat-flat-button
        class="about-us-introduction__button"
        type="button"
        (click)="openVideo()"
      >
        Watch Our Video
      </button>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        Our <span class="about-us-section__header--highlighted">Values</span>
      </h1>
      <div class="about-us-section__subtext">
        <p>
          We believe that every flight should be an experience on itself and we
          understand that our clients demand only the very best of the best.
          That is why we work with handpicked and specialized partners that are
          able to deliver the most desirable products in the world right on to
          your plane. Quality assurance of the products, in combination with an
          unforgettable experience are our main focus points in order to create
          a moment in life you will never forget. Therefore, we are proud to
          cater an unique group of people for which we will move heaven and
          earth if needed. We call them the flight elite, join them now!
        </p>
      </div>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        Our <span class="about-us-section__header--highlighted">Offers</span>
      </h1>
      <div class="about-us-section__subtext">
        <p>
          All our products are handpicked with the upmost care and are reviewed
          thoroughly at which point they are presented within our online
          platform. Haven't found your dream product within our platform? We
          will search for it and make it happen. The only thing you need to do
          is to fill in the special request page, so we know what to look for.
          We will then contact you or your private jet charter company with a
          special offer as soon as possible. Please note that special requests
          are time sensitive and cannot be delivered on a short notice. We
          believe we must be experts in what we do, in order to be able to
          deliver you the premium service that you deserve. That is why we only
          handle special requests within it's respective category. When you you
          send an inquiry about your dream product, we will then inform your
          private jet charter about product pricing and delivery options. After
          you have confirmed your inquiry we will present the product within
          your private jet. Satisfied? Perfect! We will congratulate you with
          your purchase and the product will be added to the bill of your
          private jet charter company so you can handle it with ease.
          Congratulations! You have just entered the flying elite. 
          <br /><br />
          Not convinced
          of your dream product? No problem. If you decide not to buy the
          product after we present it to you, we will take it back with us. No
          questions asked. If needed, we will even help you with finding the
          product that you actually do want.
        </p>
      </div>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        <span class="about-us-section__header--highlighted">Privacy </span
        >Guidelines
      </h1>
      <div class="about-us-section__subtext">
        <p>
          We believe that privacy is becoming an ever increasing value these
          days. That's why we designed Delifly to be completely anonymous. We
          will never need more than your flight number, so we are able to inform
          your private jet charter about your inquiry and deliver your product
          exactly when you need it. That's doesn't mean that ordering your one
          of a kind product should be a hustle: it is never more than a few
          clicks away.
        </p>
      </div>
    </div>
    <div class="about-us-section">
      <h1 class="about-us-section__header">
        <span class="about-us-section__header--highlighted">Misson</span> &
        Vision
      </h1>
      <div class="about-us-section__subtext">
        <p>
          We believe that the private jet industry and it's clients deserve so
          much better than the limited options that are available today. By
          becoming the go-to for every private jet flyer, we believe that we can
          create not only a simple flight, but a once in a lifetime experience
          with it.<br />
          To enable all clients of private jet charters world wide to order
          their dream products on-the-fly and create an unique group of people
          called the flying elite.
        </p>
      </div>
    </div>
    <app-special-request ></app-special-request>
  </div>
</div>
