<div class="navbar-wrapper">
  <div class="navbar-container">
    <div>
      <a routerLink="/home" class="navbar-logo"><img src="assets/delifly-logo.svg" alt="Delifly Logo"></a>
    </div>
    <div>
      <a routerLink="/suppliers" class="navbar-link">Suppliers</a>
      <a routerLink="/about-us" class="navbar-link">About Us</a>
      <a routerLink="/contact" class="navbar-link navbar-link--highlighted">
        <button mat-flat-button type="button" class="navbar-button">Contact</button>
      </a>
    </div>
  </div>
</div>