@import "../../assets/style/colors.scss";

.contact-us {
  &-wrapper {
    background-color: black;
    opacity: 0.9;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -100px;
  }

  &-container {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    max-width: 710px;
  }

  &-header {
    font-size: 32px;
    letter-spacing: 1.82px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 32px;
    .highlighted {
      color: $brand-accent;
    }
  }

  &-subtext {
    opacity: 0.6;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-bottom: 80px;
  }

  &-form {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    //   grid-gap: 4px;
  }

  &-input {
    margin-top: 12px;
    background-color: transparent;
    border-radius: 34px;
    border: 2px solid #434343;
    height: 48px;
    margin: 8px;
    box-shadow: red;

    &--big {
        grid-column: 1/3;
    }

    &__field {
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 1.07px;
      color: #cccccc;
    }

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    ::ng-deep .mat-form-field-infix {
      border-top: 3px;
      margin-left: 24px;
      margin-top: 5px;
    }
  }

  &-button {
    color: #222222;
    height: 50px;
    padding: 0 44px;
    margin-top: 64px;

    background-color: $brand-accent;
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.21px;
    border-radius: 25px;
  }
}

::ng-deep .mat-form-field.mat-focused {
  border-color: white;
}

::ng-deep .mat-form-field-label {
  margin-top: 1px;
  color: #434343 !important;
}
