@import "../../assets/style/colors.scss";

.gallery {
  &-wrapper {
    height: 100%;
    background-image: linear-gradient( #161616, #000000);
    margin-top: -100px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-container {
    display: flex;
    flex-direction: column;
    padding: 0 64px;
    max-width: 1080px;
  }
}
