<div class="inquiry-confirmation-wrapper">
  <article class="inquiry-confirmation-container">
      <mat-icon (click)="closeDialog()" class="inquiry-confirmation-close"
      >close</mat-icon
    >
    <h1 class="inquiry-confirmation-header">
      Your
      <span class="highlighted">Inquiry</span>
      has been received
    </h1>
    <p class="inquiry-confirmation-subtext">
      Thank you for your inquiry and welcome to the flying elite. Your personal flight assistant/private jet charter will inform you about pricing and the earliest delivery possibility.
    </p>
    <p class="inquiry-confirmation-subtext__bold">
      Want to be informed directly? Fill in your e-mail address and we will contact you within the hour with pricing details, delivery and buying options.
    </p>
    <mat-form-field class="inquiry-confirmation-input" floatLabel="never">
        <input
          matInput
          type="text"
          class="inquiry-confirmation-input__field"
          type="email"
          placeholder="Email"
        />
      </mat-form-field>
    <app-disclaimer></app-disclaimer>
    <button 
      class="inquiry-confirmation-button"
      mat-flat-button
      type="button"
      (click)="closeDialog()">
      Close Window
    </button>
  </article>
</div>