<div class="product-wrapper">
  <div class="product-container">
    <div class="product-introduction">
      <div class="product-introduction__text">
        <h1 class="product-header">
          {{ product.title.firstPart ? product.title.firstPart : '' }}
          <span class="product-header--highlighted">{{
            product.title.highlighted
          }}</span>
          {{ product.title.secondPart ? product.title.secondPart : '' }}
        </h1>
        <p class="product-description">
          {{ product.description ? product.description : defaultDescription }}
        </p>
      </div>
      <div class="product-introduction__carousel">
        <ngb-carousel
          *ngIf="product.images"
          [showNavigationArrows]="true"
          data-interval="0"
          class="product-carousel"
        >
          <ng-template ngbSlide *ngFor="let image of product.images">
            <img
              [src]="image"
              class="product-introduction__carousel__image"
              alt="Picture Watch"
            />
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="product-explanation">
      <h1 class="product-header">
        {{ explanation.header.firstPart }}
        <span class="product-header--highlighted">{{
          explanation.header.highlighted
        }}</span>
      </h1>
      <p class="product-description">
        {{ explanation.subtext.firstParagraph }}
      </p>
      <p class="product-description">
        {{ explanation.subtext.secondParagraph }}
      </p>
      <button
        mat-flat-button
        matSuffix
        (click)="openInquiryConfirmationDialog()"
        type="button"
        class="product-explanation__button"
      >
        Inquire Now
      </button>
    </div>
    <div class="product-images">
      <div class="product-images__1" [style.background]="product.galleryImages.image_1 ? 'url(' + product.galleryImages.image_1 + ')' : ''" [style.background-size]="'cover'"></div>
      <div class="product-images__2" [style.background]="product.galleryImages.image_2 ? 'url(' + product.galleryImages.image_2 + ')' : ''" [style.background-size]="'cover'"></div>
      <div class="product-images__3" [style.background]="product.galleryImages.image_3 ? 'url(' + product.galleryImages.image_3 + ')' : ''" [style.background-size]="'cover'"></div>
      <div class="product-images__4" [style.background]="product.galleryImages.image_4 ? 'url(' + product.galleryImages.image_4 + ')' : ''" [style.background-size]="'cover'"></div>
      <div class="product-images__5" [style.background]="product.galleryImages.image_5 ? 'url(' + product.galleryImages.image_5 + ')' : ''" [style.background-size]="'cover'"></div>
    </div>
    <div class="product-information">
      <div class="product-introduction__text">
        <h1 class="product-header">
          {{ product.details.title.firstPart }}
          <span class="product-header--highlighted">{{
            product.details.title.highlighted
          }}</span>
          {{ product.details.title.secondPart }}
        </h1>
        <p class="product-description">
          {{ product.details.description ? product.details.description : defaultDetailsDescription }}
        </p>
      </div>
      <div class="product-introduction__carousel">
        <img [src]="product.images[0]">
      </div>
    </div>
  </div>
</div>
