<!-- @TODO: Coloring of input field -->
<div class="home-widget-wrapper">
  <div [@showHide]="isVisible ? 'show' : 'hide'" class="home-widget-container">
    <h1 class="home-widget-title">Fill in Your Flight Number for</h1>
    <h2 class="home-widget-title home-widget-title--accent">
      Endless Possibilities
    </h2>
    <mat-form-field class="home-widget-input" floatLabel="never" color="primary">
      <input
        matInput
        type="text"
        placeholder="{{ PLACEHOLDER }}"
      />
      <button
        mat-flat-button
        matSuffix
        routerLink="/category-overview"
        type="button"
        class="home-widget-input__button"
      >
        Check
      </button>
    </mat-form-field>
    <app-disclaimer></app-disclaimer>
  </div>
</div>
