/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
  color: white;
}

* {
  font-family: "Poppins", sans-serif;
}

.carousel-indicators {
  bottom: -40px;

  li {
    width: 18px;
    height: 2px;
    opacity: 0.2;
  }
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
  outline: 0;
}

.special-request-dialog-configuration {
  height: 100vh;
  width: 100vw !important;
  max-width: none !important;
}
.special-request-dialog-configuration .mat-dialog-container {
  background-color: transparent;
  padding: 0;
}
