<div class="no-products-wrapper">
  <article class="no-products-container">
    <div class="no-products-information">
      <h1 class="no-products-header">
        Discover Your 
        <span class="highlighted">Personal </span>
        Styling Congierge Now
      </h1>
      <p class="no-products-description">
          Our dedicated styling concierge wil help you arrive at your next destination in complete style, whether it is a italian hand made suit or a louis vuitton bag, we will make sure it accompanies you on your plane. Our special supplier from TIEDESIGNS will help you find your dream suit, shoes, ties, scarfs, you name it, al in on the press of just a few buttons. 
      </p>
      <p class="no-products-description">
          Feel free to contact us about any of your wishes as our dedicated styling concierge wil help you with everything you need, as well as to provide you with styling tips and new ideas to leave your direct environment in awe at your arrival.  
      </p>
      <p class="no-products-description">
          Styling, is not only something that is determined by what you wear, but also by how you present yourself. Take advantage of our exclusive MOKUM Barbers service. With using our MOKUM barbers service, one of the most sought after barbers in Amsterdam will accompany you on your flight to make sure you are groomed into perfection. As they are world wide trendsetters within their respective profession, they will be the first to apply new trends and are always on top of their game. 
      </p>
    </div>
    <app-special-request [buttonText]="buttonText" [headerText]="headerText" [hideDescription]="true"></app-special-request>
  </article>
</div>